<h1>Vitals</h1>
<div class = "row">
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <%= line_chart Heartbeat.group("date(heartbeats.date)").average(:count),xtitle: "Date", ytitle: "Beats per Minute"%>
      </div>

      <div class = "caption">
         <h3>Heartbeats!</h3>
         <p>
            <a href = "<%= heartbeats_path %>" class = "btn btn-primary" role = "button">
               Upload Your Heartbeat Now!
            </a>
         </p>
      </div>
   </div>

   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <%= line_chart Temperature.group("date(temperatures.date)").average(:temperature),xtitle: "Date", ytitle: "Temperature"%>
      </div>

      <div class = "caption">
         <h3>Temperatures!</h3>
         <p>
            <a href = "<%= temperatures_path %>" class = "btn btn-primary" role = "button">
               Upload Your Temperature Now!
            </a>
         </p>

      </div>
   </div>

   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
         <%= line_chart Weight.group("date(weights.date)").average(:weight),xtitle: "Date", ytitle: "Weight"%>
      </div>

      <div class = "caption">
         <h3>Weights!</h3>
         <p>
            <a href = "<%= weights_path %>" class = "btn btn-primary" role = "button">
               Upload Your Weight Now!
            </a>
         </p>

      </div>
   </div>

   <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
        <%= line_chart [
  {name: "Systolic", data: Bloodpressure.group("date(bloodpressures.date)").average(:systolic)},
  {name: "Dystolic", data: Bloodpressure.group("date(bloodpressures.date)").average(:dystolic)}
  ] %>
      </div>

      <div class = "caption">
         <h3>Blood Pressure!</h3>
         <p>
            <a href = "<%= bloodpressures_path %>" class = "btn btn-primary" role = "button">
               Upload Your Blood-Pressure!
            </a>
         </p>

      </div>
   </div>
    <div class = "col-sm-6 col-md-3">
      <div class = "thumbnail">
<%= line_chart [
  {name: "Fasting", data: Bloodsugar.group("date(bloodsugars.date)").average(:fasting)},
  {name: "Non-Fasting", data: Bloodsugar.group("date(bloodsugars.date)").average(:nonfasting)}
] %>
      </div>

      <div class = "caption">
         <h3>Blood Sugar!</h3>
         <p>
            <a href = "<%= bloodsugars_path %>" class = "btn btn-primary" role = "button">
               Upload Your Blood-Sugar!
            </a>
         </p>

      </div>
   </div>

</div>